
<p>
  I wanted a way to create a Twitter list of other people's "followees". Some people inspire me, I reasoned, so I'd love to see the news that inspires them. This is an easy way to create those lists.
</p>

<p style="margin-top: 30px">
  <%= form_tag('/lists/new', method: :get) do %>
    <%= label_tag "A Twitter Username" %>
    <%= text_field_tag :name, nil, :placeholder => "@natekontny" %>
    <%= submit_tag "Create a list of the people they follow" %>
  <% end %>
  I would hate myself if I did anything spammy with your Twitter permissions. All I do is create a private list for you. I don't store any of your Twitter information.
</p>


<p>
  -<%= link_to "Nate", "http://ninjasandrobots.com" %> / <%= link_to "@natekontny", "http://twitter.com/natekontny" %> 
</p>

